@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './reset.scss';

* {
    box-sizing: border-box;
}

body {
    text-align: center;
    background: linear-gradient(to bottom, #8E2DE2, #4A00E0);
}

#app {
    height: 100vh;
    min-height: 100vh;
    min-width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: clamp(300px, 90%, 360px);
    height: clamp(530px, 90%, 640px);
    border-radius: 12px;
    padding: 12px;
    border: 12px solid #FFF;
    background: red;
}